node_modules/
src-tauri/target/
*.exe
*.msi
dist-min/
/.codebuddy
/.trae
/.qoder
# 图标由 tauri icon 从 source.png 自动生成
src-tauri/icons/32x32.png
src-tauri/icons/64x64.png
src-tauri/icons/128x128.png
src-tauri/icons/128x128@2x.png
src-tauri/icons/icon.icns
src-tauri/icons/icon.ico
src-tauri/icons/icon.png
src-tauri/icons/Square*.png
src-tauri/icons/StoreLogo.png
